body {
  font-family: Arial;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 20px;
  color: rgb(0, 0, 0);
  font-weight: bolder;
}
form, .output {
  background: #ebebeb;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgb(0, 0, 0);
  max-width: 350px;
  width: 100%;
  text-align: center;
  display: flex;
}
input[type="submit"] {
  width: 100%;
  padding: 12px;
  margin: 15px 0 20px;
  border-radius: 6px;
  transition: 0.3s;
  box-sizing: border-box;
}
button {
  background:#29bf12
}
